#menu{
background-color:white;
height: 50px;
border-bottom: 1px solid black;
}

#centrer{
padding-top:14px;
padding-left:12px;
}

#menu li{
display: inline;
margin-right: 1em;
}

a{
color:black !important;
}

a:hover{
color:black !important;
text-decoration: none !important;
}

#co{
color:red !important;
}

#co:hover{
color:red !important;
text-decoration: underline !important;
}


